$primary: #37287b;
$secondary: #4942a2;
$accents: #fba60b;
$black: #121212;
$white: #fff;
$text: #878787;
$gray: #1f242a;
$shadow: #d8d8d8;
$lightGray: #e3e3ef;
$fontFamily: 'Open Sans', sans-serif;
$fontSize: 16px;

